<%- include("header") -%>

<h2>About</h2>
<p> This is a toDo list made by Harshit Sikawar by using EJS, NodeJs, Express and Body Parser. </p>
<p> Structure is made using HTML and Designing is done by CSS.</p>

<%- include("footer") -%>